---
import AposArea from '@apostrophecms/apostrophe-astro/components/AposArea.astro';

const { page, piece, user, query } = Astro.props.aposData;
const { main } = piece;
---

<section class="bp-content">
  <h1>{ piece.title }</h1>
  <AposArea area={main} />
</section>
